export ZSH="{{ ohmyzsh_install_dir }}"
# themes
ZSH_THEME="powerlevel10k/powerlevel10k"
# zsh options
plugins=(history git colorize github pip python zsh-syntax-highlighting cp extract httpie zsh-autosuggestions)
source $ZSH/oh-my-zsh.sh
ENABLE_CORRECTION="true"


# VARS
export EDITOR=micro
export LANG="en_US.UTF-8"

# config for bat
export BAT_CONFIG_PATH="/usr/local/src/git/.dotfiles/.batconf"

# aliases
alias ll='lsd -la'
alias tinc='sudo /usr/local/sbin/tinc -c ~/Library/tinc --pidfile ~/Library/tinc/pid'
alias tincd='sudo /usr/local/sbin/tincd -c ~/Library/tinc --pidfile ~/Library/tinc/pid'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias ans_pull="ansible-pull -U https://github.com/pertruccio/freebsd_ansible -i inventory --vault-password-file=~/.vault_file"
# start neofetch ... a little bit fancyness in the shell
neofetch
# theme customization
[[ ! -f ~/.theme.zsh ]] || source ~/.theme.zsh

# PATH
export PATH="/usr/local/sbin:$PATH"
export PATH="/root/.cargo/bin:$PATH"